// @import "typography";
// @import "scaffolding";
// @import "fretboard_setup";
//
// save these files with underscore in front, .scss in back, in same directory as this

/* --------------------------------------------------------
-------------------
/* Global Masthead & Title
/* -------------------------------------------------------------------------- */

    body {
      font-family: "Open Sans";
      margin: 0;
      padding: 24px;
      color: #4C5962;
      background: #EBEEF1; // Facebook only, for now
    }

.container {
  // max-width: 1280px;
  // margin: 0 auto;
  text-align: center;
}

.intro {
  margin: 72px 0 48px 0;
  text-align: center;
  h1 {
    text-align: center;
    font-size: 36px;
    margin: 0 0 12px 0;
  }
  p {
    // color: #aaa;
  }
}

/* ----- */

.tile {
  width: 240px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 2px 12px rgba(115,131,140,0.15);
  padding: 8px;
  position: relative;
  display: inline-block;
  vertical-align:top;
  margin: 24px 24px 48px 0px;
}

/* ---- */

.imageWrapper {
  position: relative;
  text-align: center;
  min-height: 180px;
}

.imageWrapper img {
  vertical-align: bottom;
  z-index: 2;
  max-width: 100%;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

.photoLabel {
  font-size: 12px;
  a {
    text-decoration: none;
    color: #8D9FA9;
    vertical-align: bottom;
    opacity: .6;
    &:hover {
      opacity: 1;
    }
  }

  text-align: left;
  margin: 15px 4px 10px;
}

.photoLabel-location {
  // float: left;
  opacity: .6;
  display: inline-block;
  color: #A4B2BA;
  font-weight: 500;
  margin-left: 4px;
  top: 1px;
  position: relative;
  // background: url(../images/icon-passport.svg) no-repeat;
  height: 16px;
  // padding-left: 23px;
}

// .photoLabel-links {
//   float: right;
//   display: inline-block;
//   margin: 20px 10px 10px;
//   a {
//     display: inline-block;
//     margin-left: 8px;
//     color: #A4B2BA;
//   }
// }
.photoLabel-pp {
  background: url(../images/icon-passport.svg) no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.photoLabel-links-image {
  background: url(../images/icon-image.svg) no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}
